body{
    background-image: url(../media/re2.jfif);
    background-size: 100%;
}
#tabla2 table{
    width: 100%;
}

.fondo1{
    background-color: white;
    border-color: white;
    border-radius: 10px;
}
.imag{
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}